$border-style:1px solid #2e344e;
$menu-color:#191d2b;
$background-color:rgb(16, 18, 27);
$blue-color:#037fff;
$border-color:#2e344e;
@mixin padding-all {
    padding-top: 100px;
    padding-left: 10px;
}