.menu-list{
    ul{
        list-style: none;
        // background-color: red;
        li{
            height: 40px;
            font-size: 1.2rem;
        }
        li:hover{
            background-color:red;
        }
        li:active{
            background-color: green;
        }
    }
}