.grid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    >div{
        // height: 300px;
        width: 350px;
        margin-top: 30px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
.portfolio-item:hover {
    .portfolio-item__image::before{
        right: 15px;
    }
}
.portfolio-item{
    img{
        height: auto;
        max-width: 100%;
    }
    .portfolio-item__image{
        position: relative;
        .action{
            position: absolute;
            list-style: none;
            display: flex;
            top: 50%;
            left: 50%;
            opacity: 0;
            z-index: 100;
            transition: 0.8s all ease-in-out;
            transform: translate(-50%,-50%);;
        }
        // .action:hover{
        //     opacity: 1;
        // }
        
    }
    .portfolio-item__image::before{
        content: "";
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: calc( 100% - 15px);
        background: hsla(0,0%,100%,.9);
        position: absolute;
        z-index: 100;
        transition: 0.4s all ease-in-out;
        transform-origin: center;
        
    }
    // .portfolio-item__image:hover::before{
    //     right: 15px;
    // }
    .portfolio-item__title{
        font-size: 1.5rem;
        color: white;
        font-weight: 600;
        line-height: 40px;
    }
    .portfolio-item__description{
        font-size: 1.2rem;
    }
}