.grid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    div{
        background-color: white;
        height: 300px;
        width: 300px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}